body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
}
section{
    background-color: rgba(255, 187, 0, 0.246);
    width: 450px;
    text-align: center;
    padding: 15px;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 300px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanent Marker",cursive;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 60px;
    line-height: 100px;
}
.ms{
    background-color: rgba(255, 69, 1, 0.698);
}
.md{
    background-color: aliceblue;
}

